body {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  overflow: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.title {
	color:white;
	font-size:40px;
}

.fullwidth {
  width: 100%;
}

.fullscreen {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}

.canvas {
  background: #000;
}